# Ignore the virtual environment directory
.venv/

ulmus/static/

# Ignore compiled Python files
*.pyc

# Ignore __pycache__ directories
__pycache__/

# Ignore other common Python bytecode files
*.pyo
*.pyd