{% load static cms_tags %}
<section id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>A propos de nous</h2>
      <p>{{ instance.description_1 }}</p>
    </div>
    <div class="row content">
      <div class="col-lg-6">
        <p>{{ instance.description_2 }}</p>
        {% if instance.child_plugin_instances %}
          <ul>
            {% for plugin in instance.child_plugin_instances %}
              {% if plugin.plugin_type == 'AboutUsListItemPlugin' %}
                {% render_plugin plugin %}
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>{{ instance.description_3 }}</p>
        <a href="#contact" class="btn-learn-more">Contactez-Nous</a>
      </div>
    </div>
  </div>
</section>
